// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img-responsive{
 max-width: 50%;
 height: auto;
}


h3 p{
  font-weight: 100;
  color: gray;
}

h3 small{
  font-weight: 100;
  color: gray;
}
